.intro {
  padding: 140px 70px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin: 50px 0 10px 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: #fff;
  max-width: 80%;
}

.intro__button {
  margin-top: 60px;
  width: 270px;
  height: 60px;
  background-color: #005FA3;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  transition: opacity .5s;
}

.intro__button:hover {
  opacity: .7;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 80px 30px;
  }
  .intro__title {
    margin: 0 auto;
    text-align: center;
  }
  .intro__button {
    margin: 60px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-bottom: 0;
  }
  .intro__title {
    font-size: 29px;
  }
}

@media screen and (max-width: 576px) {
  .intro {
    padding: 80px 10px 40px 10px;
    min-height: 400px;
  }
  .intro__title {
    margin-top: 20px;
    font-size: 21px;
    line-height: 28px;
    width: 100%;
  }
}