.card {
  position: relative;
  padding: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #005FA3;
  justify-self: center;
}

.card__title {
  z-index: 2;
  color: #000;
  font-size: 22px;
  line-height: 22px;
}

.card__text {
  color: #000;
}

.card__price {
  color: #930c0c;
  max-width: 280px;
}

.card__link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color .5s;
}


.card__link:hover {
  color: #005FA3;
}

@media screen and (max-width: 576px){
  .card {
    width: 250px;
    height: 250px;
  }
  .card__logo {
    width: 40px;
    height: 40px;
  }
  .card__title {
    font-size: 20px;
    margin: 10px 0;
  }
  .card__text {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
  .card__price {
    margin: 0 0 10px 0;
  }
}